In [1]:
import os
import json
import tweepy as tw
import pandas as pd
from pandas import DataFrame

In [3]:
#view twitter archive data
archived_data = pd.read_csv('twitter_archive_enhanced.csv')
archived_data.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [21]:
consumer_key= 'h6hIQQnFAcGIeTMDyv2XMBiUF'
consumer_secret= 'Hj71yci19S1pK7Hrzt92C1HV4gGlF7mOvxR4apulRrb439Ma2L'
access_token= '198618330-Yli47ACxRduMwYhRjbzUI7doHQAIFDxQrvx1JOK3'
access_token_secret= 'MPTWqjTVM6pGd2lMmPBWw0s5rMgZbRVQNbYAKucDpEtZa'

In [24]:
auth = tw.OAuthHandler('h6hIQQnFAcGIeTMDyv2XMBiUF', 'Hj71yci19S1pK7Hrzt92C1HV4gGlF7mOvxR4apulRrb439Ma2L')
auth.set_access_token('198618330-Yli47ACxRduMwYhRjbzUI7doHQAIFDxQrvx1JOK3', 'MPTWqjTVM6pGd2lMmPBWw0s5rMgZbRVQNbYAKucDpEtZa')
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
consumer_key= 'h6hIQQnFAcGIeTMDyv2XMBiUF'
consumer_secret= 'Hj71yci19S1pK7Hrzt92C1HV4gGlF7mOvxR4apulRrb439Ma2L'
access_token= '198618330-Yli47ACxRduMwYhRjbzUI7doHQAIFDxQrvx1JOK3'
access_token_secret= 'MPTWqjTVM6pGd2lMmPBWw0s5rMgZbRVQNbYAKucDpEtZa'

auth = tw.OAuthHandler('h6hIQQnFAcGIeTMDyv2XMBiUF', 'Hj71yci19S1pK7Hrzt92C1HV4gGlF7mOvxR4apulRrb439Ma2L')
auth.set_access_token('198618330-Yli47ACxRduMwYhRjbzUI7doHQAIFDxQrvx1JOK3', 'MPTWqjTVM6pGd2lMmPBWw0s5rMgZbRVQNbYAKucDpEtZa')
api = tw.API(auth, wait_on_rate_limit=True)

not_found = []
retweet_favorite_count = []

with open('tweet_json.txt', mode = "w") as file:
    for i in list(archived_data.tweet_id):
        try:
            tweet = api.get_status(str(i))
            file.write(json.dumps(tweet._json))
            retweet_favorite_count.append({"tweet_id":str(i),
                                          "retweet_count": tweet._json['retweet_count'],
                                          "favourite_count": tweet._json['favorite_count']})
        except:
                not_found.append(i)

In [8]:
#Read the .txt file line by line into a pandas frame with these columns 
#(tweet_id, retweet_count, favorite count).
df = pd.DataFrame(retweet_favorite_count, columns=['tweet_id', 'retweet_count', 'favourite_count'])

In [11]:
df.sample(10)

                tweet_id  retweet_count  favourite_count
1057  738885046782832640           1093             3628
1581  685681090388975616            116             1959
1370  700002074055016451           1275             3176
928   751937170840121344           1261             5022
2264  667174963120574464             71              227
880   758405701903519748           1840             5051
2147  669327207240699904            112              532
2178  668641109086707712            492              983
836   763837565564780549           4010            12212
945   750132105863102464           1238             3497

In [10]:
#write to a csv file
df.to_csv('retweet_and_favorite_counts.csv')

In [12]:
pd.read_csv('retweet_and_favorite_counts.csv')

      Unnamed: 0            tweet_id  retweet_count  favourite_count
0              0  892420643555336193           7340            34978
1              1  892177421306343426           5475            30279
2              2  891815181378084864           3621            22784
3              3  891689557279858688           7529            38245
4              4  891327558926688256           8108            36522
...          ...                 ...            ...              ...
2326        2326  666049248165822465             38               93
2327        2327  666044226329800704            122              259
2328        2328  666033412701032449             39              107
2329        2329  666029285002620928             41              117
2330        2330  666020888022790149            443             2341

[2331 rows x 4 columns]

In [ ]:
consumer_key= 'h6hIQQnFAcGIeTMDyv2XMBiUF'
consumer_secret= 'Hj71yci19S1pK7Hrzt92C1HV4gGlF7mOvxR4apulRrb439Ma2L'
access_token= '198618330-Yli47ACxRduMwYhRjbzUI7doHQAIFDxQrvx1JOK3'
access_token_secret= 'MPTWqjTVM6pGd2lMmPBWw0s5rMgZbRVQNbYAKucDpEtZa'

auth = tw.OAuthHandler('h6hIQQnFAcGIeTMDyv2XMBiUF', 'Hj71yci19S1pK7Hrzt92C1HV4gGlF7mOvxR4apulRrb439Ma2L')
auth.set_access_token('198618330-Yli47ACxRduMwYhRjbzUI7doHQAIFDxQrvx1JOK3', 'MPTWqjTVM6pGd2lMmPBWw0s5rMgZbRVQNbYAKucDpEtZa')
api = tw.API(auth, wait_on_rate_limit=True)

#get tweets from twitter API 
tweets = []

#save missing tweets in this list
missing_tweets = []

#if tweet is found save here

for tweet_id in df1['tweet_id']:
    try:
        tweets.append(api.get_status(tweet_id))
    except:
        missing_tweets.append(tweet_id)

In [ ]:
#seperate json for each object downloaded and add to a list

list_of_dict = []

for each_json_tweet in tweets:
    list_of_dict.append(each_json_tweet._json)

In [ ]:
#write to text file

with open('tweet_json.txt', mode = "w") as file:
    file.write(json.dumps(list_of_dict, indent=4 ))

In [ ]:
#write to dataframe
retweet_count = pd.DataFrame(data_list, columns=['tweet_id','favorite_count'                             'favorite_count',
                             'retweet_count', 'created-at'])

In [ ]:
#write to pandas dataframe
#write to a pandas dataframe

data_list = []
with open('tweet_json.txt') as json_file:
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        whole_tweet = each_dictionary['text']
        only_url = whole_tweet[whole_tweet.find('https'):]
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        created_at = each_dictionary['created_at']
        whole_source = each_dictionary['source']
        only_device = whole_source[whole_source.find('rel="nofollow">') + 15:-4]
        source = only_device
        retweeted_status = each_dictionary['retweeted_status'] = each_dictionary.get('retweeted_status', 'Original tweet')
        if retweeted_status == 'Original tweet':
            url = only_url
        else:
            retweeted_status = 'This is a retweet'
            url = 'This is a retweet'
            
            
            data_list.append({'tweet_id': str(tweet_id),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'url': url,
                             'created_at': created_at,
                             'source': source,
                             'retweeted_status': retweeted_status,})

In [ ]:
#write to pandas dataframe
'''
df3 = pd.DataFrame(data_list, columns=['tweet_id','favorite_count'                             'favorite_count',
                             'retweet_count',
                             'url',
                             'created_at',
                             'source',
                             'retweeted_status'])
'''

In [46]:
df = pd.read_csv('retweet_favorites_counts.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,tweet_id,retweet_count,favourite_count
0,0,0,892420643555336193,7341,34978
1,1,1,892177421306343426,5476,30284
2,2,2,891815181378084864,3621,22787
3,3,3,891689557279858688,7530,38247
4,4,4,891327558926688256,8109,36525